.side_bar{
  background-color: blueviolet !important;
}
.css-1ddsiuw-MuiListItemIcon-root{
  color: rgb(239, 239, 244) !important;
}
.css-wa5fuu-MuiListItemIcon-root{
  color: rgb(243, 243, 248) !important;
}
.css-h4y409-MuiList-root{
  color: rgb(243, 243, 248) !important;
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root{
  color: rgb(240 239 239) !important;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
  background-color: black !important; 
}