.MuiDrawer-paperAnchorLeft{
    min-width: 15%;
    max-width: auto;
}
.Mui-focusVisible{
    color: pink;
}

.errorPage{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.homeBtn{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: 10px;
    font-size: large;
    background-color: blue;
    color: white;
}
.homeBtn:hover{
    background-color: rgb(187, 28, 55);
    cursor: pointer;
    font-size: larger;
    color: black;
}
